:root {
  /* Global variables to be defined here */
  --color-white: #ffffff;
  --color-primary: #34c94b;
  --color-black: #000000;
  --color-grey: #858585;
  --color-blue: #346bd4;
  --color-bg: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: var(--color-bg);
}
body {
  font-family: "Montserrat", "Lato", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
li {
  margin: 0;
  padding: 0;
}
#root,
#__next {
  isolation: isolate;
}
